body
{
    width: 40%;
    height: 200px;
    background-color: black;
}
.caculator
{
     width: 60%;
     height: 180%;
     background-color: white;
     margin-top: auto;
     margin-left: 50%;
     
}
.caculator p
{
    color: black;
    font-size: 200%;
}
.caculator h1
{
    color: black;
}
.number tr
{
    display: flex;
    flex-direction:row;
    color: black;
    padding: 5%;
    
    margin-left: 5%;
}


    
    
