*,
*::before,
*::after 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header 
{
    position: relative;
    width: 100%;
    height: auto;
    

}


.header-img 
{
    width: 100%;
    height: 500px;
    background: url(../image/backgarund1.webp) no-repeat;
    background-size: cover;
    filter: blur(3px);

}

.header-img:blank 
{
    display: none;
}

.head-section 
{
    position: absolute;
    top: 0;
    bottom: 0;
    background: rgba(0.5, 0, 0, 0.5);
    color: white;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: backInDown alternate 2s;
}

.navbar ul 
{
    list-style: none;
    margin-top: 50px;
}


.head-section a 
{
    color: white;
    font-size: 10px;
    text-decoration: none;
    list-style-type: none;
    text-transform: capitalize;
    

}

.navbar a 
{
    color: white;
    font-size: 20px;
    text-decoration: none;
    list-style-type: none;
    text-transform: capitalize;
    margin-left: 3%;
    margin-top: 20%;
    line-height: 1.5;
    

}

.social-links 
{
    margin-top: 25%;
}

.social-links ul 
{
    text-align: center;
}

.head-footer 
{
    text-align: center;
}

.fa-brands 
{
    color: white;
    font-size: 20px;
    margin-left: 6%;
}

button 
{
    background: none;
    padding: 20px 40px;
    position: relative;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    cursor: pointer;
    margin-left: 10%;
    margin-top: 15%;

}

button::after,
button::before 
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 2px solid white;
    transition: transform .2s;
}

button::after 
{
    transform: translate(3px, 3px);
}

button::before 
{
    transform: translate(-3px, -3px);
}

button:hover::after,
button:hover::before 
{
    transform: translate(0);
}

.head-content 
{


    margin: 5%;
    margin-left: 70%;
    position: absolute;
    top: 0;
    padding: 10PX;
    background-color: rgba(245, 243, 243, 0.423);
    font-size: 15px;
    
}

.copyright 
{
    margin-top: 20px;
    
}

main 
{
    display: grid;
    grid-template-columns: 15% 85%;
}

.main-content
{
    padding: 20px;
    
    

}
.main-class
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-class > *{
    flex-basis: 40%;
}

.blocked-sidebar 
{
    background-color: #525050;
    height: 185vh;

    
}

h2 
{
    color: rgb(44, 114, 119);
    padding: 3%;
}

.about us 
{
    color: black;
    display: contents;
    

}
.para
{
    word-wrap: inherit;
}

.fa-solid, .fa-regular 
{

    margin-top: 2%;
    font-size: 40px;
    padding: 6%;
    color: rgb(40, 74, 78);
    overflow: hidden;
    transition: 0.5s;
    
    
}
.fa-solid:hover, .fa-regular:hover
{
    color: rgb(31, 93, 100);
    transform: scaleX(1.2);
    
}
.silder h2
{
    padding: 1%;
}

.border
{
    border: double black;
    margin-top: 4%;    
}


.company-profile
{
    color: black;
}
.a
{
   
    display: flex;
    flex-direction: row;
    margin-left: 9%;
}
.img-container{
    width: 25%;
    height: 240px;
margin: 10px;
    overflow: hidden;
}
.a img
{   
    width:100%;
    height: 100%;
    transition: .5s;

}
.a img:hover
{
  transform: scale(1.2);
}
.image1
{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 4%;
    margin-top: 2%;
    margin-left: 1%;
}
.image1 img
{
    width: 100%;
    height: 100px;
    padding: 5%;
    border: double black;
}
.talk
{
    /* border:2px solid red; */
    position: relative;
    padding: 2em;
}

.talk::before,
.talk::after
{
    content: '';
    position: absolute;
    inset:0;
    border: 2px solid gray;
}

.talk::before
{
    transform: translate(5px, 5px);
}
.talk::after{
    transform: translate(-5px,-5px);
}
.talk-part
{
    display: flex;
    gap:50px;
}
.talk-part>*{
    flex-basis: 50%;
    /* border:2px solid black */
}

.contact-form{
    padding: 1.5em;
}
.contact-form>*:not(:last-child){
width: 100%;
border:none;
border-bottom: 2px solid grey;
margin-bottom: 2em;
font-size: 1.2em;
font:inherit
}

.contact-form>button{
    border: none;
    cursor: pointer;
    font-size: 1.1em;
    margin-top: 2%;
    float: right;
    padding: .2em .5em;
    box-shadow: 0 0 3px 0 gray;
}




